{% extends "learning_logs/base.html" %}
{% block content %}
    <p>Topic {{ topic }}</p>   <!--topic来自于view中的context = {'topic': topic, 'entries': entries}-->
    <p>Entries:</p>
    <p><!--topic.id表示new_entry/1/  不写的话新建条目会报错的-->
        <a href="{%  url 'learning_logs:new_entry' topic.id %}">添加新条目</a>
    </p>
    <ul>
    {% for entry in entries %}  <!--  entries来自于对应的views.py中的context = {'topic': topic, 'entries': entries}  -->
        <li>
            <p>{{ entry.date_added | date:'M d, Y H:i'}}</p>
            <p>{{ entry.text | linebreaks }}</p>
            <p>
                <a href="{% url 'learning_logs:edit_entry' entry.id %}">编辑条目</a>
            </p>
        </li>
    {% empty %}
        <li>没有创建任何条目</li>
    {% endfor %}
    </ul>
{% endblock content %}